*{
	padding:0;
	margin:0;
}

body{
	font-family:"微软雅黑";
}

h1{
	margin:20px auto 20px;
	font-size:3.5em;
}

h2{
	font-size:28px;
}

a:link {
	text-decoration:none;
	color: white;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

a{
	position: relative;
	left: 30%;
	display: block;
	line-height: 40px;
	height: 40px;
	width: 40%;
	background: rgba(102, 160, 67, .6);
}

.main{
	top:0;
	height:4200px;
	width:100%;
}

.background,.background1,.background2,.background3,.background4{
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	-webkit-filter:grayscale(0.3) ;
	background-size:cover;
	background-position: 0 ;
	opacity: 0;
}

.background{
	z-index: 0;
	background-image:url(../img/index/p0.jpg);
}
.background1{
	z-index: -1;
	background-image:url(../img/index/p1.jpg);
}
.background2{
	z-index: -2;
	background-image:url(../img/index/p2.jpg);
}
.background3{
	z-index: -3;
	background-image:url(../img/index/p3.jpg);
}
.background4{
	z-index: -4;
	background-image:url(../img/index/p4.jpg);
}

.article{
	position:relative;
	top:800px;
	left:30%;
	height:3200px;
	width:40%;
	background:rgba(248,248,248,.95);
	text-align:center;
	color:#5C5C5C;
}
.article p{
	font-weight:300;
	font-size:16px;
}
.article hr{
	border:none;
	background:#D1D1D1;
	height:1.5px;
}

#logo{
	position:relative;
	top:200px;
	color:white;
	text-align:center;
}
#logo hr{
	position:relative;
	top:-15px;
	left:43%;
	border:none;
	background:white;
	height:3px;
	width:14%;
	border-radius:5px;
}

.sc{
	position:relative;
	left:20%;
	height:400px;
	width:60%;
	padding:200px 0;
	word-break:break-word;
}
.sc hr{
	margin:20px 0;
	position:relative;
	border:none;
	background:#D1D1D1;
	height:2px;
	width:16%;
	left:42%;
}
